grant {
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.lang.RuntimePermission "getProtectionDomain";
  permission java.util.PropertyPermission "*", "read";
  permission java.io.FilePermission "<<ALL FILES>>", "read";

  permission java.lang.RuntimePermission "accessDeclaredMembers";
};
