# Run ant javatest on Jython 2.7 (GitHub action)

name: ant javatest 2.7

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:

  ant-javatest-Ubuntu-jdk-11:

    runs-on: ubuntu-latest

    steps:
    - run: echo "Branch ${{ github.ref }} of repository ${{ github.repository }}."

    - uses: actions/checkout@v3
 
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Build with Ant
      run: ant -noinput -version
      run: ant -noinput -buildfile build.xml developer-build
      run: ant -noinput -buildfile build.xml javatest


