# Run ant javatest on Jython 2.7 (GitHub action)

name: ant javatest 2.7

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:

  ant-javatest:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: [8, 11]
      fail-fast: false

    steps:
    - run: echo "Branch ${{ github.ref }} of repository ${{ github.repository }}."

    # Some tests require exactly-expected line endings
    - run: git config --global core.autocrlf input

    - uses: actions/checkout@v3

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'

    - name: Build with Ant on ${{ matrix.os }}
      run: ant -noinput -buildfile build.xml developer-build

    - name: Unit test with Ant on ${{ matrix.os }}
      run: ant javatest-ci

