# Check text for common misspellings and report them (GitHub Action)
# https://pypi.org/project/codespell

name: codespell

on: [pull_request, push]

permissions:
  contents: read

jobs:
  codespell-text:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: pip install codespell
    - run: codespell --count --ignore-words=Misc/codespell/words.ignore
                  NEWS README.md README.txt LICENSE.txt Misc/INDEX Misc/codespell/README

